# Exploring Database // Probing for Re-Draft Potential

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/DOHMH_NYC_Restaurant_Inspection_Results.csv')

<h2>Thought 1 :: </h2> Need to verify whether or not DBA to Phone are exact. In the case of franchising results in differential phone number for owner, would need to migrate phone number into table other than just the Business table.

In [3]:
[i for i in df.groupby('DBA').PHONE.unique() if len(i)>1][:5]

[array(['2127772042', '2127790185', '2027596788'], dtype=object),
 array(['7183842152', '7186872946'], dtype=object),
 array(['2122604416', '2126272808', '6464227022', '6468611281',
        '6467073424', '2126649608', '6468632522', '9174727874',
        '2122604414', '2122131755', '9146564534'], dtype=object),
 array(['212_239111', '9177461577', '7187970336', '2122391117',
        '9173749161', '2127770600', '9175878888'], dtype=object),
 array(['9292789914', '7187777133'], dtype=object)]

In [4]:
#df[df.PHONE=='2127772042']

Alright, yeah, we need to move that.
***

<h2>Thought 2 :: </h2> Check into the different fields that should maybe be pulled out to achieve more atomic structure. See how much variation and length there is to these string fields.

***
<h3>Violation Description</h3>
Regulatory // Legal Text re: specified code broken

In [78]:
df['VIOLATION DESCRIPTION'].value_counts()

Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.    56325
Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.                                                                                                                                                 43636
Evidence of mice or live mice present in facility's food and/or non-food areas.                                                                                                                                                                                                    29423
Food contact surface not properly washed, rinsed and sanitized after each use and following any activity when contamination may have occurred.                                                                                                                                     26966
Food not protected from potential source of contamination during storage, preparation, transportation, display or service.                                                                                                                                                         23714
                                                                                                                                                                                                                                                                                   ...
Original label for tobacco products sold or offered for sale.                                                                                                                                                                                                                          2
Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained.                                                                                                                                              1
Food item spoiled, adulterated, contaminated or cross-contaminated.                                                                                                                                                                                                                    1
Unprotected food re-served.                                                                                                                                                                                                                                                            1
Reduced oxygen packaged (ROP) foods not cooled by an approved method whereby the internal food temperature is reduced to 38ยบ F within two hours of cooking and if necessary further cooled to a temperature of 34ยบ F within six hours of reaching 38ยบ F.                               1
Name: VIOLATION DESCRIPTION, Length: 92, dtype: int64

In [71]:
#### just use len(str(x)) because np.nan is techincally a float
temp = pd.DataFrame(df['VIOLATION DESCRIPTION'].unique(), columns=["ViolationDesc"])
temp['ViolationLen'] = temp['ViolationDesc'].apply(lambda x: len(str(x)))
temp = temp.sort_values("ViolationLen", ascending=False)
temp.head(3)

                                        ViolationDesc  ViolationLen
19  Caloric content not posted on menus, menu boar...           360
14  Filth flies or food/refuse/sewage-associated (...           289
10  Non-food contact surface improperly constructe...           271

In [73]:
print("Violation Description:")
print(f"{len(df['VIOLATION DESCRIPTION'].unique())} unique values")
print(f"Longest is {temp.ViolationLen.iloc[0]} characters")
print(f"\nLongest content:\n\t{temp.ViolationDesc.iloc[0]}")

Violation Description:
93 unique values
Longest is 360 characters

Longest content:
	Caloric content not posted on menus, menu boards or food tags, in a food service establishment that is 1 of 15 or more outlets operating the same type of business nationally under common ownership or control, or as a franchise or doing business under the same name, for each menu item that is served in portions, the size and content of which are standardized.

***
<h3>"Action"</h3>
Outcome of a given inspection

In [77]:
df['ACTION'].value_counts()

Violations were cited in the following area(s).                                                                                        367514
Establishment Closed by DOHMH.  Violations were cited in the following area(s) and those requiring immediate action were addressed.     14736
Establishment re-opened by DOHMH                                                                                                         4300
No violations were recorded at the time of this inspection.                                                                              4141
Establishment re-closed by DOHMH                                                                                                         1106
Name: ACTION, dtype: int64

In [75]:
#### just use len(str(x)) because np.nan is techincally a float
temp = pd.DataFrame(df['ACTION'].unique(), columns=["OutcomeDesc"])
temp['OutcomeLen'] = temp['OutcomeDesc'].apply(lambda x: len(str(x)))
temp = temp.sort_values("OutcomeLen", ascending=False)
temp

                                         OutcomeDesc  OutcomeLen
2  Establishment Closed by DOHMH.  Violations wer...         131
4  No violations were recorded at the time of thi...          59
0    Violations were cited in the following area(s).          47
1                   Establishment re-opened by DOHMH          32
3                   Establishment re-closed by DOHMH          32
5                                                NaN           3

In [76]:
print("Outcome Description:")
print(f"{len(temp['OutcomeDesc'].unique())} unique values")
print(f"Longest is {temp.OutcomeLen.iloc[0]} characters")
print(f"\nLongest content:\n\t{temp.OutcomeDesc.iloc[0]}")

Outcome Description:
6 unique values
Longest is 131 characters

Longest content:
	Establishment Closed by DOHMH.  Violations were cited in the following area(s) and those requiring immediate action were addressed.

***
<h3>Inspection Type</h3>

In [79]:
df["INSPECTION TYPE"].value_counts()

Cycle Inspection / Initial Inspection                          230317
Cycle Inspection / Re-inspection                                94227
Pre-permit (Operational) / Initial Inspection                   27949
Pre-permit (Operational) / Re-inspection                        12040
Administrative Miscellaneous / Initial Inspection                7344
Cycle Inspection / Reopening Inspection                          4337
Pre-permit (Non-operational) / Initial Inspection                3281
Smoke-Free Air Act / Initial Inspection                          1947
Administrative Miscellaneous / Re-inspection                     1946
Trans Fat / Initial Inspection                                   1505
Pre-permit (Operational) / Compliance Inspection                 1251
Calorie Posting / Initial Inspection                             1109
Inter-Agency Task Force / Initial Inspection                     1067
Pre-permit (Operational) / Reopening Inspection                  1053
Cycle Inspection / Compliance Inspection                          709
Smoke-Free Air Act / Re-inspection                                445
Trans Fat / Re-inspection                                         323
Pre-permit (Non-operational) / Re-inspection                      292
Calorie Posting / Re-inspection                                   216
Administrative Miscellaneous / Compliance Inspection              113
Pre-permit (Operational) / Second Compliance Inspection            97
Administrative Miscellaneous / Reopening Inspection                90
Smoke-Free Air Act / Limited Inspection                            31
Pre-permit (Non-operational) / Compliance Inspection               29
Trans Fat / Compliance Inspection                                  23
Calorie Posting / Compliance Inspection                            15
Administrative Miscellaneous / Second Compliance Inspection        14
Cycle Inspection / Second Compliance Inspection                    14
Smoke-Free Air Act / Compliance Inspection                          9
Trans Fat / Second Compliance Inspection                            3
Pre-permit (Non-operational) / Second Compliance Inspection         1
Name: INSPECTION TYPE, dtype: int64

In [81]:
#### just use len(str(x)) because np.nan is techincally a float
temp = pd.DataFrame(df['INSPECTION TYPE'].unique(), columns=["InspectionDesc"])
temp['InspectionLen'] = temp['InspectionDesc'].apply(lambda x: len(str(x)))
temp = temp.sort_values("InspectionLen", ascending=False)
temp.head(3)

                                       InspectionDesc  InspectionLen
31  Pre-permit (Non-operational) / Second Complian...             59
28  Administrative Miscellaneous / Second Complian...             59
12  Pre-permit (Operational) / Second Compliance I...             55

In [82]:
print("Inspection Description:")
print(f"{len(temp['InspectionDesc'].unique())} unique values")
print(f"Longest is {temp.InspectionLen.iloc[0]} characters")
print(f"\nLongest content:\n\t{temp.InspectionDesc.iloc[0]}")

Inspection Description:
32 unique values
Longest is 59 characters

Longest content:
	Pre-permit (Non-operational) / Second Compliance Inspection

***
<h3>Cuisine Description</h3>

In [7]:
thing["CUISINE DESCRIPTION"].value_counts()

American                                      76261
Chinese                                       41329
Pizza                                         25338
Cafรฉ/Coffee/Tea                               19586
Latin American (Central and South America)    17488
                                              ...
Fruits/Vegetables                                54
Czech                                            43
Nuts/Confectionary                               43
Chilean                                          32
Basque                                            9
Name: CUISINE DESCRIPTION, Length: 82, dtype: int64

In [83]:
#### just use len(str(x)) because np.nan is techincally a float
temp = pd.DataFrame(df["CUISINE DESCRIPTION"].unique(), columns=["FoodDesc"])
temp['FoodLen'] = temp['FoodDesc'].apply(lambda x: len(str(x)))
temp = temp.sort_values("FoodLen", ascending=False)
temp.head(3)

                                             FoodDesc  FoodLen
13  Bottled beverages, including water, sodas, jui...       55
24         Latin American (Central and South America)       42
15               Caribbean (Inc. Cuban, Puerto Rican)       36

In [84]:
print("Food Description:")
print(f"{len(temp['FoodDesc'].unique())} unique values")
print(f"Longest is {temp.FoodLen.iloc[0]} characters")
print(f"\nLongest content:\n\t{temp.FoodDesc.iloc[0]}")

Food Description:
82 unique values
Longest is 55 characters

Longest content:
	Bottled beverages, including water, sodas, juices, etc.

***
<h3>Making Sample File</h3>

In [6]:
sample = df.sample(200000).set_index("CAMIS")
sample

,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
CAMIS,,,,,,,,,,,,,,,,,,,,,
41592595,CAFE REGULAR,Brooklyn,158,BERKELEY PLACE,11217.0,7187830673,Cafรฉ/Coffee/Tea,02/09/2017,Violations were cited in the following area(s).,10J,...,03/12/2021,Cycle Inspection / Initial Inspection,40.675311,-73.975626,306.0,39.0,15900.0,3019869.0,3.009540e+09,BK37
50041609,NEW VEGETARIAN PALATE,Brooklyn,603,WASHINGTON AVENUE,11238.0,7186238809,Vegetarian,01/10/2020,Violations were cited in the following area(s).,02G,...,03/12/2021,Cycle Inspection / Initial Inspection,40.679664,-73.964112,308.0,35.0,20300.0,3027687.0,3.011320e+09,BK64
41229180,FRANCESCO PIZZERIA,Manhattan,186,COLUMBUS AVENUE,10023.0,2127210066,Pizza,09/28/2018,Violations were cited in the following area(s).,10F,...,03/12/2021,Cycle Inspection / Initial Inspection,40.775090,-73.980496,107.0,6.0,15300.0,1028941.0,1.011400e+09,MN14
41594932,SUBWAY,Manhattan,223,AVENUE B,10009.0,2122604206,Sandwiches,01/04/2018,Violations were cited in the following area(s).,04A,...,03/12/2021,Cycle Inspection / Initial Inspection,40.729016,-73.978316,103.0,2.0,2800.0,1004932.0,1.003960e+09,MN28
50018552,ORCHID DYNASTY RESTAURANT,Brooklyn,7706,NEW UTRECHT AVENUE,11214.0,7188372017,Chinese,05/10/2017,Violations were cited in the following area(s).,08A,...,03/12/2021,Cycle Inspection / Re-inspection,40.614015,-74.000450,311.0,43.0,18200.0,3161388.0,3.062470e+09,BK28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50057443,VERITABLE,Manhattan,1201,2 AVENUE,10065.0,2127530600,American,09/10/2018,Violations were cited in the following area(s).,10F,...,03/12/2021,Cycle Inspection / Re-inspection,40.763278,-73.962403,108.0,4.0,11000.0,1043864.0,1.014180e+09,MN31
50086591,NEW XING XING RESTAURANT,Brooklyn,4917,8 AVENUE,11220.0,7188518089,Chinese,08/07/2019,Establishment Closed by DOHMH. Violations wer...,04H,...,03/12/2021,Cycle Inspection / Initial Inspection,40.641515,-74.003272,312.0,38.0,10800.0,3137522.0,3.056370e+09,BK34
50048487,EASTFIELD'S,Manhattan,1479,YORK AVENUE,10075.0,2129666032,American,08/30/2016,Establishment Closed by DOHMH. Violations wer...,06C,...,03/12/2021,Pre-permit (Operational) / Re-inspection,40.770967,-73.950748,108.0,5.0,13200.0,1046031.0,1.014730e+09,MN31
50093719,WU & NUSSBAUM,Manhattan,2897,BROADWAY,10025.0,2123624165,Other,02/26/2020,Violations were cited in the following area(s).,08A,...,03/12/2021,Pre-permit (Operational) / Initial Inspection,40.805987,-73.965384,109.0,7.0,19900.0,1057337.0,1.018950e+09,MN09
41611450,ANDAMAN THAI BISTRO,Manhattan,1843,1 AVENUE,10128.0,2127225671,Thai,11/16/2017,Violations were cited in the following area(s).,02B,...,03/12/2021,Cycle Inspection / Re-inspection,40.782764,-73.945077,108.0,5.0,15601.0,1078674.0,1.015580e+09,MN32

In [7]:
sample.to_csv("./sample_half.csv")

197749.5