A notebook of disassembling these other data tables into CSV's to import into datagrips

In [19]:
import pandas as pd
df = pd.read_csv('data/DOHMH_NYC_Restaurant_Inspection_Results.csv')

Extracting food type, "CUISINE DESCRIPTION"

In [13]:
pd.DataFrame(df['CUISINE DESCRIPTION'].unique()).to_csv("data/subsets/FoodTypes.csv", index=False, header=False)

In [15]:
pd.DataFrame(df['ACTION'].unique()).to_csv("data/subsets/Outcomes.csv", index=False, header=False)

In [17]:
pd.DataFrame(df['INSPECTION TYPE'].unique()).to_csv("data/subsets/InspectionTypes.csv", index=False, header=False)

In [18]:
df.head(1)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,41067778,SALA ONE NINE,Manhattan,35,WEST 19 STREET,10011.0,2122292300,Spanish,09/07/2016,Violations were cited in the following area(s).,...,03/12/2021,Cycle Inspection / Initial Inspection,40.739621,-73.992635,105.0,3.0,5400.0,1015467.0,1.008210e+09,MN13

In [ ]:
pd.DataFrame(df[['VIOLATION CODE', 'VIOLATION DESCRIPTION']].unique()).to_csv("data/subsets/InspectionTypes.csv", index=False, header=False)